@import '../variables';

.btn {
  background-color: $color-purple;
  color: $color-white;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background-color: $color-white;
    color: $color-purple;
  }
}
