@import '../variables';

.product-description {
  padding-top: 130px;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  &__text {
    font-family: $font-lato;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 36px;
  }
}
.github-btns {
  margin-bottom: 88px;
}
.github-btns-item {
  display: flex;
  padding-bottom: 88px;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: center;
}
.using-advantages {
  position: relative;
  padding-top: 32px;
  &__title {
    color: $color-purple;
    font-size: 32px;
  }
  &__example {
    // text-align: right;
    position: absolute;
    left: 0px;
    overflow: hidden;
    width: 100%;
    // bottom: -440px;
  }
}
