@import '../variables';
@import '../mixins';
.subscription-plans {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $color-bgc-dark-purple;
  @include screen-m {
    padding-top: 8px;
  }
  @include screen-l {
    padding-top: 15px;
    padding-bottom: 65px;
  }
  &__block {
    margin: auto;

    @include screen-m {
      width: calc(100% - 224) / 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }
    @include screen-l {
      align-items: baseline;
      width: calc(100% - 311) / 4;
    }
  }
  &__line {
    color: $color-bgc-light-purple;
    margin-bottom: 14px;
    margin: 0 36px;
    @include screen-m {
      margin: 0 96px;
      margin-bottom: 98px;
    }
    @include screen-l {
      margin: 0 290px;
      margin-bottom: 112px;
    }
  }
  &__title {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    color: $color-white;
    line-height: 42px;
    padding-bottom: 32px;
  }
  @include screen-m {
    font-size: 42px;
    line-height: 44px;
  }
  @include screen-l {
    font-size: 48px;
    line-height: 50px;
  }
}
