body {
  font-family: $font-monserat;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  // @include screen-l {
  //   padding: 0px 0px;
  // }
}
