body {
  font-family: $font-monserat;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
