// COLORS
$color-purple: #8d81ac;
$color-white: #ffffff;
$color-dark-gray: #635c73;
$color-gray: #323232;
$color-light-gray: #848e97;
$color-bgc-dark-violet: #3f2c41;
$color-bgc-medium-violet: #473249;
$color-bgc-dark-purple: #4b3b4e;
$color-bgc-light-purple: #695b6a;
$color-bgc-medium-purple: #5f5161;

// FONTS
$font-lato: 'Lato', sans-serif;
$font-monserat: 'Montserrat', sans-serif;

// BG
$bg-header: url(../img/header-bg-img.png);
$bg-reviews: url(../img/reviews/reviews-bg.png);
