// COLORS
$color-purple: #8d81ac;
$color-white: #ffffff;
$color-dark-gray: #635c73;
$color-gray: #323232;
$color-light-gray: #848e97;

// FONTS
$font-lato: 'Lato', sans-serif;
$font-monserat: 'Montserrat', sans-serif;

// BG
$bg-header: url(../img/header-bg-img.png);
$bg-reviews: url(../img/reviews/reviews-bg.png);
